.root{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    max-width: 1450px;

    .form{
      display: flex;
      flex-direction: column ;
      gap: 20px;
      max-width: 400px;
      font-family: 'Courier New', Courier, monospace;
    }
    .comp{
      text-align: center;
      font-weight:900;
    }
    .table{
      padding-top: 70px;
    }
    .color{
      background-color: rgba(80, 190, 253, 0.548);
    }
}
